@media (min-width: 1200px) {
  .container {
    width: 1232px;
  }
  .header__brand {
    font: 600 2rem/2rem "Gotham", sans-serif;
  }
  .header__brand img {
    width: 2.875rem;
    margin-right: 1rem;
  }
  .header__title {
    margin-bottom: 2.25rem;
    font: 600 3.75rem/4.5rem "Gotham", sans-serif;
  }
  .header__description {
    margin-bottom: 3.5rem;
    font: 400 1.125rem/1.375rem "Gotham", sans-serif;
  }
  .header__content--btn {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
  }
  .header__content--right img {
    max-width: 440px;
  }
  .header__content--right::before {
    top: 40px;
    left: 140px;
    bottom: 45px;
    border-radius: 3em;
  }
  .plants {
    padding: 4.5rem 0 7.5rem;
  }
  .plants__title {
    margin-bottom: 1.5rem;
    font: 400 2.625rem/1 "Gotham", sans-serif;
  }
  .plants__title-wr {
    margin-bottom: 3rem;
  }
  .plants__title--description {
    font: 400 1rem/1.1875rem "Gotham", sans-serif;
  }
  .plants__content--left {
    background: center/390px no-repeat url(../images/bg-view.png);
  }
  .plants__content--left img {
    max-width: 265px;
  }
  .plants__card {
    position: relative;
    padding: 2.5rem 0 3.5625rem 5rem;
  }
  .plants__card::before {
    position: absolute;
    top: 0;
    left: 65px;
    bottom: 0;
    width: 100vw;
    background: #f9f9f9;
    content: "";
    border-radius: 3em;
    -webkit-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
            transform: skewX(10deg);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    z-index: -1;
  }
  .plants__list--item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .plants__list--item-heading {
    margin-bottom: .5rem;
  }
  .stats {
    padding: 4.5rem 0 7.5rem;
  }
  .stats__title {
    margin-bottom: 1.5rem;
    font: 400 2.625rem/1 "Gotham", sans-serif;
  }
  .stats__title-wr {
    margin-bottom: 3rem;
  }
  .stats__description {
    max-width: 850px;
    margin: 0 auto;
    font: 400 1rem/1.1875rem "Gotham", sans-serif;
  }
  .stats__body--left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    max-width: auto;
  }
  .stats__body--right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 620px;
            flex: 0 0 620px;
    max-width: 620px;
  }
  .stats__body--right::before {
    position: absolute;
    top: 0;
    left: 120px;
    bottom: 0;
    width: 100vw;
    background: #f9f9f9;
    content: " ";
    border-radius: 3em;
    -webkit-transform: skewX(10deg);
        -ms-transform: skewX(10deg);
            transform: skewX(10deg);
    -webkit-transform-origin: bottom;
        -ms-transform-origin: bottom;
            transform-origin: bottom;
    opacity: 0.2;
    z-index: 1;
  }
  .stats__body--right::after {
    top: 78px;
    left: 180px;
    bottom: 55px;
  }
  .stats__card {
    padding: 9rem 0 7.6rem;
  }
  .stats__item:not(:last-child) {
    margin-bottom: 3rem;
  }
  .stats__item:not(:last-child), .stats__item:last-child {
    padding-left: 14rem;
  }
  .stats__item--heading {
    font: 500 1.5rem/1.625rem "Gotham", sans-serif;
  }
  .stats__item--description {
    font: 400 1rem/1.1875rem "Gotham", sans-serif;
  }
  .tasks {
    padding-bottom: 4.5rem;
  }
  .tasks__content--left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 590px;
            flex: 0 0 590px;
  }
  .tasks__title {
    margin-bottom: 2rem;
    font: 700 2.75rem/3rem "Gotham", sans-serif;
    letter-spacing: -0.005em;
  }
  .tasks__description {
    font: 400 1rem/1.1875rem "Gotham", sans-serif;
  }
  .tasks__content--right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 390px;
            flex: 0 0 390px;
    background: center/390px no-repeat url(../images/bg-view.png);
  }
  .tasks__content--right img {
    max-width: 265px;
  }
  .slider {
    padding: 7.5rem 0;
  }
  .slider__body img {
    max-width: 265px;
  }
  .slider__screen-wr {
    background-size: 390px;
  }
  .slider__steps {
    font: 500 24px/26px "Gotham", sans-serif;
  }
  .slider__steps span::before {
    top: -50px;
    font-size: 7.5rem;
  }
  .feedback {
    padding: 4.5rem 0 7.5rem;
  }
  .feedback__title {
    margin-bottom: 3rem;
    font-size: 2.625rem;
  }
  .feedback__body {
    margin: 0 -1rem;
  }
  .feedback__column {
    padding: 0 1rem;
  }
  .feedback__column.column--xl {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
    max-width: 40%;
  }
  .feedback__column.column--lg {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
    max-width: 30%;
  }
  .feedback__column.column--xs {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
    max-width: 25%;
  }
  .feedback__column:nth-child(4), .feedback__column:nth-child(5), .feedback__column:nth-child(6) {
    margin-top: 2.5rem;
  }
  .feedback__card {
    padding: 2.5rem 2rem;
  }
  .form {
    padding: 4.5rem 0 7.5rem;
  }
  .form__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 66px;
    background: bottom/contain no-repeat url(../images/form/bg.svg);
  }
  .form__content--left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 540px;
            flex: 0 0 540px;
    padding-left: 3rem;
    padding: 0 0 135px 3rem;
    text-align: left;
    color: #181818;
  }
  .form__title {
    margin-bottom: 2rem;
    font: 700 2.75rem/3rem "Gotham", sans-serif;
    letter-spacing: -0.005em;
  }
  .form .title-w100 {
    display: block;
  }
  .form__description {
    font: 400 1rem/1.1875rem "Gotham", sans-serif;
  }
  .form__content--right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 600px;
            flex: 0 0 600px;
  }
  .form__card {
    margin-left: 0;
    -webkit-box-shadow: 0px 4px 10px rgba(190, 197, 194, 0.2);
            box-shadow: 0px 4px 10px rgba(190, 197, 194, 0.2);
  }
}
