@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
  .header__brand {
    font: bold 2rem/2rem "Gotham", sans-serif;
  }
  .header__title {
    margin-bottom: 2.25rem;
    font: bold 3.75rem/4.5rem "Gotham", sans-serif;
  }
  .header__description {
    margin-bottom: 3.5rem;
  }
  .plants {
    padding: 4.5rem 0 7.5rem;
  }
  .plants__title {
    margin-bottom: 1.5rem;
    font: 400 2.625rem/1 "Gotham", sans-serif;
  }
  .plants__title-wr {
    margin-bottom: 3rem;
  }
  .plants__title--description {
    font: 400 1rem/1.1875rem "Gotham", sans-serif;
  }
  .plants__content--left {
    background: center/390px no-repeat url(../images/bg-view.png);
  }
  .plants__content--left img {
    max-width: 265px;
  }
  .plants__card {
    padding: 2.5rem 0 3.5625rem;
  }
  .plants__list--item:not(:last-child) {
    margin-bottom: 2rem;
  }
  .plants__list--item-heading {
    margin-bottom: .5rem;
  }
  .stats {
    padding: 4.5rem 0 7.5rem;
  }
}
