@media (min-width: 768px) {
  .container {
    width: 648px;
  }
  .header__brand {
    font: bold 1.75rem/2rem "Gotham", sans-serif;
  }
  .header__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header__content--left, .header__content--right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .header__content--btn {
    display: inline-block;
  }
  .header__content--btn:last-child {
    margin-left: 1rem;
  }
  .header__content--btn-wr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .plants__title {
    margin-bottom: 1rem;
    font: 400 1.75rem/1 "Gotham", sans-serif;
  }
  .plants__title-wr {
    margin-bottom: 2rem;
  }
  .plants__title--description {
    font: 400 0.875rem/1.0625rem "Gotham", sans-serif;
  }
  .plants__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .plants__content--left, .plants__content--right {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
  .plants__content--left {
    background: center/245px no-repeat url(../images/bg-view.png);
  }
  .plants__content--left img {
    max-width: 165px;
    height: auto;
    margin: 0 auto;
  }
  .tasks__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .tasks__content--left {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 360px;
            flex: 0 0 360px;
  }
  .tasks__title {
    margin-bottom: 1.5rem;
    font: 700 1.5rem/1.75rem "Gotham", sans-serif;
    letter-spacing: -0.005em;
  }
  .tasks__description {
    font: 400 0.875rem/1.0625rem "Gotham", sans-serif;
  }
  .tasks__content--right {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 245px;
            flex: 0 0 245px;
    background: center/245px no-repeat url(../images/bg-view.png);
  }
  .tasks__content--right img {
    max-width: 165px;
    height: auto;
    margin: 0 auto;
  }
}
